* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: medium;
    color: azure;
}

body {
    background-image: url('background.png');
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 90%;
    text-align: left;
}

p {
    padding-top: 5%;
}

.browseCourses {
    margin-top: 19%;
    display: flex;
    justify-content: flex-end;
    font-size: medium;
}

.logo {
    margin-top: 5%;
}

.password, .username {
    margin-top: 5%;
}

.checkbox {
    font-size: medium;    
    margin-top: 5%;
    text-align: left;
}

.login {
    margin-right: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hr {
    height: 1px;
    background-color: #ffffff;
    border: none;
    opacity: 1;
    width: 106%;
}

.microsoft {
    margin-right: 5%;
}

.microsoftIcon {
    width: 5%;
}

.forgotPassword, .icon, a {
   color: azure;
}

.microsoftIcon {
    width: 17%;
}

.icon{
    
    text-decoration: none;
}

.footerLinks {
    padding-top: 10%;
    font-size: 10px;

    align-content: center;
}

#mymodal {
    color: black;
}

.title{
    color: black;
    font-size: large;
}

.subtext {
    color: gray;
    font-size: small;
  }

.instructure {
    width: 45%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    border: 2px solid red;
}



.form-control.empty::placeholder {
    color: red;
}

.title {
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

.subtext {
    text-decoration: none;
}

.subtext:hover {
    text-decoration: none;
}

.title:hover {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.mmodal-title, .modal-body:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
}